<h1><%= @student.name %></h1>
<%= link_to "edit", edit_rutgers_class_student_path %> | <%= link_to 'Destroy',  rutgers_class_student_path,  method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to "Back To Class", rutgers_class_path(@class) %><br>
<br>
<h2>Assignments</h2>
<% @student.assignments.each do |assignment| %>
  <h4><%= assignment.name %></h4>
  <% assignment.objectives.each do |objective| %>
    <p><%= objective.name %></p>
  <% end %>
  <br>
<% end %>
<h2>Add Assignments</h2>
<%= form_tag({controller: "rutgers_classes/students", action: "add_assignment"}, method: "post") do %>
    <%= hidden_field_tag(:rutgers_class_id, @student.rutgers_class.friendly_id) %>
    <%= hidden_field_tag(:student_id, @student.friendly_id) %>
    <%= select_tag(:assignment_id, options_for_select(@assignments)) %>
    <%= submit_tag("add") %>
<% end %>
<br>
